/* ======================================== */
/*	Site : 		Afghan Harm Reduction		*/
/*	URL : 		afghan-harm-reduction.org	*/
/*	Author : 	christophe le drean			*/
/*				rouge-rose.net				*/
/*	Date :		2010/12						*/
/*	Version :	1							*/
/* ======================================== */

.formulaire_spip legend,
.formulaire_spip label,
.formulaire_spip .submit,
.formulaire_spip .erreur_message,
.formulaire_spip .reponse_formulaire_ok {
	text-align: left;
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue Condensed Bold","Helvetica Neue", Helvetica, Arial, sans-serif;
	font-stretch: condensed; /* pour Firefox */
	text-transform: uppercase; }

.formulaire_spip { margin-bottom: 3em; }
.formulaire_spip li, .formulaire_spip p { position: relative; }
	.formulaire_spip li label, .formulaire_spip p label {
		position: absolute; top: 0px; left: 4px;
		font-size: 13px; line-height: 36px; }
	.formulaire_spip input.text, .formulaire_spip textarea, .formulaire_spip input.password {
		border: 1px solid #000;
		border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;
		padding: 2px;
		width: 334px; }
	.formulaire_spip .submit {
		border: 1px solid #000;
		background-color: #fff;
		font-size: 13px; line-height: 1em;
		margin: 0;
		border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }
	.formulaire_spip .submit:hover { background-color: #999; color: #fff; text-decoration: none; }
	.formulaire_spip .submit:active {
			box-shadow: inset 0 1px 2px rgba(0,0,0,0.7); -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.7);
			background-color: #000; }

/* ==================================== */
/* =formulaire écrire (pied de page)=	*/
/* ==================================== */
#pied .formulaire_ecrire_auteur {  }
	#pied .formulaire_ecrire_auteur legend {  }
		#pied .formulaire_ecrire_auteur li {  }
		#pied .formulaire_ecrire_auteur li:last-child { padding-bottom: 0; }
			#pied .formulaire_ecrire_auteur li label { line-height: 30px; }
			#pied .formulaire_ecrire_auteur .boutons { width: 340px; }

			/* message d'erreur */
			.formulaire_spip li.erreur .erreur_message {
				font-size: 10px;
				position: absolute; top: -7px; right: 0; }

/* ==================================== */
/* =formulaire recherche=				*/
/* ==================================== */
.formulaire_recherche { margin-bottom: 3em; }
	.formulaire_recherche p label { line-height: 18px; }
	.formulaire_recherche input.text { width: 470px !important;}
	.formulaire_recherche .submit { width: 40px; }

/* ==================================== */
/* =formulaire login=					*/
/* ==================================== */
.formulaire_login .choix label {
	line-height: 24px;
	margin-left: 14px; }

/* ==================================== */
/* =formulaire tri						*/
/* ==================================== */
.formulaire_tri { margin-bottom: 1.5em; }
.formulaire_tri p { line-height: 13px; text-align: right; }
.formulaire_tri p label {
	float: none; display: inline;
	line-height: inherit;
	margin-right: 15px;
	position: static; }
.formulaire_tri p select { width: auto; }
