/* ======================================== */
/*	Site : 		Afghan Harm Reduction		*/
/*	URL : 		afghan-harm-reduction.org	*/
/*	Author : 	christophe le drean			*/
/*				rouge-rose.net				*/
/*	Date :		2010/12						*/
/*	Version :	1							*/
/* ======================================== */

/* ===================================  */
/*	=Hentry								*/
/* ===================================  */
.hentry { margin-bottom: 3em; }
	.hentry .slider { margin-bottom: 1.5em; }

	.meta-publi {
		list-style-type: none;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		clear: both;
		background: url('../img/fleches-sprite.png') repeat-x scroll 0 -24px; }
		.meta-publi li {
			text-transform: uppercase;
			font-size: 10px; line-height: 10px;
			float: left; background-color: #fff;
			padding-right: 5px }




	a.suite {
		font-size: 11px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-transform: uppercase;
		background: url('../img/fleches-sprite.png') no-repeat scroll top right;
		padding-right: 16px; }


/* ===================================  */
/*	=Hcalendar							*/
/* ===================================  */
.vevent {  }
	.vevent dt {
		background-color: #000; color: #fff;
		text-align: center;
		float: left;
		margin-right: 10px;
		-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
		   -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
		     -o-box-shadow: 0 0 5px rgba(0,0,0,0.3);
		        box-shadow: 0 0 5px rgba(0,0,0,0.3);
		-webkit-border-radius: 4px;
		   -moz-border-radius: 4px;
		        border-radius: 4px; }
		.vevent dt .jour { font-size: 36px; line-height: 36px; }
		.vevent dt .sep.first { display: none; }
		.vevent dt .mois-annee {
			font-size: 12px; font-weight: bold; line-height: 18px;
			background-color: #600099;
			margin-top: 5px; padding: 2px 5px;
			display: block; }
		.vevent dd { overflow: hidden; }

/* ===================================  */
/*	=Pagination							*/
/* ===================================  */
.pagination {
	border-top: 1px dotted #ccc; border-bottom: 1px solid #000;
	text-align: center;
	font-size: 11px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
	.pagination .pagination_label { text-transform: uppercase; }
	.pagination .on { font-size: 14px; line-height: 16.5px; }



/* ===================================  */
/*	=Slider								*/
/* ===================================  */
.slider {
	position: relative; width: 460px; }
	#slider .navigation {
		position:absolute;
		z-index: 4; }
		#slider .navigation li { display: inline; }
	.scroll {
		position: relative; z-index: 2;
		overflow: auto;
		overflow-x: hidden;
		width: 460px; }
		.scroll li { list-style: none; }
			.scroll li a { display: block; }
				.scroll li img {  }
		.scrollConteneur {}
		.scrollBouton {
			display: block;
			background: rgba(178,178,178,0.65) url('../img/sprite.png') no-repeat;
			width: 40px; height: 60px;
			position: absolute; z-index: 0; top: 0;
			cursor:pointer; }
		.scrollBouton.gauche { left:-20px; background-position: 3px 13px; }
		.scrollBouton.droite { right:-20px; background-position: -27px 13px; }
		.scrollBouton:hover { z-index: 4; background-color: rgba(0,0,0,0.7); }
		.imageLegend {
			position: absolute; left: 0; bottom: 0;
			background-color: rgba(0,0,0,0.4);
			color: #fff;
			padding: 4px 8px; }
			.contenu-principal .imageLegend p {
				margin-bottom: 0;
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
				font-size: 12px; }


/* ===================================  */
/*	=Icone loupe						*/
/* ===================================  */

a.icone-lien { position: relative; }
	a.icone-lien span.icone-loupe {
		height: 16px; width: 16px;
		background: transparent url('../img/sprite.png') no-repeat -48px -80px;
		position: absolute; z-index: 20; top: 50%; left: 50%; }


/* ===================================  */
/*	=Colorbox							*/
/*	(surcharge des css du plugin)		*/
/* ===================================  */
/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:4999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:visible;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}


/*
    ColorBox example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
#cboxOverlay {background:#000;}

#colorBox {}
		#cboxContent {  }
		#cboxLoadedContent {
			margin-bottom: 40px;
			padding: 20px;
			background-color: #000; }
        #cboxTitle {
			position:absolute; bottom:0; left:0;
			color:#fff;
			font-size: 12px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			margin: 0 8px 0 13px; }
			#cboxTitle h3, #cboxTitle h4 { font-size: 13px; }
        #cboxCurrent {position:absolute; bottom:0px; left:100px; color:#ddd; display: none !important;}
        #cboxSlideshow {position:absolute; bottom:0px; right:42px; color:#444; display: none !important;}
        #cboxNext, #cboxPrevious {
			position:absolute; top:50%;
			color:#fff;
			text-indent: -9999px;
			background: transparent url('../img/sprite.png') no-repeat -48px -64px;
			height: 17px; width: 17px;
			margin-top: -22px; }
		#cboxPrevious {
			left: 0px; }
        #cboxNext {
			right: 0px;
	 		background-position: -64px -64px;}
		#cboxPrevious:hover { background-position: -48px -48px; background-color: #fff; }
		#cboxNext:hover { background-position: -64px -48px; background-color: #fff; }

        #cboxLoadingOverlay { background: #000 url('../img/loading.gif') 50% 40% no-repeat; }
        #cboxClose {
			position:absolute; top: 0px; left: 0px;
			display:block;
			color:#ddd;
			text-indent: -9999px;
			height: 16px; width: 16px;
			background: transparent url('../img/sprite.png') no-repeat 0 -80px; }
		#cboxClose:hover { background-position: -16px -80px; }



/* ===================================  */
/*	=Boutons administration de Spip		*/
/* ===================================  */
.spip-admin-bloc,
.spip-admin-float { position: fixed !important; top: 0; right: 5px !important; white-space: nowrap; }
.spip-admin-bloc, .spip-admin-bloc *,
.spip-admin-float, .spip-admin-float * { font-size: 95% !important; }
a.spip-admin-boutons, a:hover.spip-admin-boutons { margin: 0 !important; padding: 4px 6px !important; background: #666 !important; border: 0 !important; color: #fff !important; text-decoration: none; }
a.spip-admin-boutons { margin: auto !important; opacity: .7; -moz-border-radius-bottomleft: .3em; -moz-border-radius-bottomright: .3em; }
a:hover.spip-admin-boutons { opacity: 1; }
@media handheld { .spip-admin-float, .spip-admin-boutons { display: none !important; } }
@media print { .spip-admin-float, .spip-admin-boutons { display: none !important; } }