/* ======================================== */
/*	Site : 		Afghan Harm Reduction		*/
/*	URL : 		afghan-harm-reduction.org	*/
/*	Author : 	christophe le drean			*/
/*				rouge-rose.net				*/
/*	Date :		2010/12						*/
/*	Version :	1							*/
/* ======================================== */


#page { background: #fff url('../img/ie/drapeau.png') repeat-y 0 0; }
#entete #logo #titre { font-size: 28px; font-weight: bold; }
.scrollBouton { background: #000 url('../img/ie/sprite.png') no-repeat; }
	.scrollBouton.gauche { left:40px; background-position: 3px 13px; }
	.scrollBouton.droite { right:-20px; background-position: -27px 13px; }
.imageLegend { width: 504px; }