/* ======================================== */
/*	Site : 		Afghan Harm Reduction		*/
/*	URL : 		afghan-harm-reduction.org	*/
/*	Author : 	christophe le drean			*/
/*				rouge-rose.net				*/
/*	Date :		2010/12						*/
/*	Version :	1							*/
/* ======================================== */


#page { background: #fff url('../img/ie/drapeau.png') repeat-y 0 0; }
#entete #logo #titre { font-size: 28px; font-weight: bold; }
.scroll li { width: 520px; }
.scrollBouton { background: #000 url('../img/ie/sprite.png') no-repeat; }
.imageLegend { 
	width: 504px;
	background: url('../img/ie/calque.png') repeat 0 0; }