/* ======================================== */
/*	Site : 		Afghan Harm Reduction		*/
/*	URL : 		afghan-harm-reduction.org	*/
/*	Author : 	christophe le drean			*/
/*				rouge-rose.net				*/
/*	Date :		2010/12						*/
/*	Version :	1							*/
/* ======================================== */

#page {  }


/* ==================================== */
/* =Entete=								*/
/* ==================================== */

#entete { padding-bottom: 1em; }
	#entete .container_16 { background: transparent url('../img/drapeau.png') repeat-y 0 0; }
	#entete .container_16[dir=rtl] { background-image: url('../img/drapeau_ltr.png'); }
	#entete .grid_16 {
		background-color: #fff;
		margin-top: 1.5em;
		padding-top: 1.5em }
		#entete #logo { margin-bottom: 1em }
		#entete #logo #titre {
			font-size: 38px; line-height: 1em;
			margin: 0;
			/* pour Firefox http://log.edds.me.uk/post/436921532/firefox-3-6s-css-font-stretch-support */
			font-stretch: condensed;
			text-transform: uppercase; }
			#entete #logo #baseline {
				/* déclaration explicite du HN Light pour Opera qui ne prend pas en compte correctement font-weight */
				font-family: "Helvetica Neue Light", "Helvetica Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif; font-weight: 200;
				font-size: 26px;  line-height: 1.5em;
				margin-bottom: 0; }

/* ==================================== */
/* =Navigation principale (#nav)=		*/
/* ==================================== */

#nav { border-bottom: 1px solid #000; margin-top: 1em;  }
#nav .grid_16 { position: relative; }
	#nav ul {
		position: absolute; right: 0; top: -1.7em; z-index: 90;
 		float: right; list-style : none outside none; }
		#nav li {
			font-size: 12px;
			text-transform: uppercase;
			float:left;  }
			#nav li a {
				color: #999;
				padding-bottom: 1.2em;
				display:block;
				margin: 0 15px 0 0; }
			#nav ul li.n1:last-child > a { margin-right: 0; }
				#nav li.n1.sf-breadcrumb > a {
					color: #000;
					background: url('../img/barreNavigation_on.png') no-repeat scroll bottom center; }
			#nav ul ul {
				width: 100%;
				top: 2.3em; right: auto; left: 0; z-index: -10; }
				#nav ul ul li a { padding-bottom: 0; }
				#nav ul ul li.current a { background:none; color: #000; }


/* ==================================== */
/* =Conteneur=							*/
/* ==================================== */

#conteneur {
	background-color: #fff;
	margin-top: 4.5em; }


/* ==================================== */
/* =Contenu=							*/
/* ==================================== */

#contenu { padding-bottom: 3em; }

.page_article #contenu,
.page_rubrique #contenu,
.page_mot #contenu { width: 580px; }

.page_article #contenu, .page_article #navigation,
.page_rubrique #contenu, .page_rubrique #navigation,
.page_mot #contenu, .page_mot #navigation {
	float: left; display: inline;
	margin-left: 10px; margin-right: 10px; }

.liste { margin-bottom: 4.5em; }


/* ==================================== */
/* =Colonne latérale=					*/
/* ==================================== */
.page_article #navigation,
.page_rubrique #navigation,
.page_mot #navigation { width: 340px; }

#navigation .liste {
	margin-bottom: 3em;
	clear: both }


/* ==================================== */
/* =Pied=								*/
/* ==================================== */

#pied {
	background-color:#fff;
	margin: 0; padding: 0; }
	#pied .container_16 {
		background: transparent url('../img/drapeau.png') repeat-y 0 0; }
	#pied .container_16[dir=rtl] { background-image: url('../img/drapeau_ltr.png'); }
	#pied .container_16 > .grid_16 {
		background-color: #fff;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
		margin-bottom: 3em; padding-top: 1.5em; }
	#pied .grid_16 > div { margin-bottom: 1.5em;  }

	/* hierarchie */
	#pied .hierarchie { border-bottom: 1px solid #000; }
	#pied .hierarchie a { color: #999; }
	#pied .hierarchie a:hover, #pied .hierarchie strong { color: #000; }
	#pied .hierarchie a, #pied .hierarchie strong { padding-right: 5px; margin-left: 5px; }
	#pied .hierarchie a:first-child, #pied .hierarchie strong:first-child { margin-left: 0; }


	#pied ul { list-style: none; margin-bottom: 1.5em; }
	#pied .follow li {
		font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue Condensed Bold","Helvetica Neue", Helvetica, Arial, sans-serif;
		font-stretch: condensed; /* pour Firefox */
		text-transform: uppercase; }
	#pied p.website-info { position: absolute; left: 0; top: 0; }
	#pied .credits { position: relative; clear: both; margin-bottom: 0 !important;  }
	#pied .credits p {
		position: absolute; bottom: -2em; left: 0;
		font: 10px/1em "HelveticaNeue-Light","Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #999;
	 }
	#pied .credits a { color: #999; }
