/* ======================================== */
/*	Site : 		Afghan Harm Reduction		*/
/*	URL : 		afghan-harm-reduction.org	*/
/*	Author : 	christophe le drean			*/
/*				rouge-rose.net				*/
/*	Date :		2010/12						*/
/*	Version :	1							*/
/* ======================================== */

/* ==================================== */
/* =Entete=								*/
/* ==================================== */

#entete { 
	xbackground-color: #fff; }
	#entete #logo #titre { font-size: 40px; line-height: 1em; }
	#entete #logo #baseline {
		font-family: "Helvetica Neue";
		font-size: 26px;  line-height: 1.5em; }