/* pour éviter les inversions gauche/droite quand on passe en dari/pashto,
il faut "delocaliser" dans deux fichiers */

/* slider */
.scrollBouton.gauche { left:-20px;  }
.scrollBouton.droite { right:-20px; }
.slider .raccourcis { right: 0; }
