/* ======================================== */
/*	Site : 		Afghan Harm Reduction		*/
/*	URL : 		afghan-harm-reduction.org	*/
/*	Author : 	christophe le drean			*/
/*				rouge-rose.net				*/
/*	Date :		2010/12						*/
/*	Version :	1							*/
/* ======================================== */

html { font-size:100.01%; }
html { xbackground: url('../img/line-height.png'); }
	body {
		font-size: 12px;
		font-family: Georgia, "Times New Roman", Times, serif;
		color: #222;
		x-webkit-text-size-adjust: none; /* Forbid mobile webkit to adjust text size */ }


/* ==================================== */
/* =Links=							*/
/* ==================================== */
a { color: #000; font-weight: bold; text-decoration: none; }
a:hover { text-decoration: underline; color: #000 !important; }
a:visited {  }
a:active, a:focus { position: relative; top: 1px; outline: thin dotted; }
a:active { outline: none; }

p a.read-more { 
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue Condensed Bold","Helvetica Neue", Helvetica, Arial, sans-serif;
	font-stretch: condensed; /* pour Firefox */
	text-transform: uppercase; }

.ps a { color: #333; }


/* ==================================== */
/* =Headings=							*/
/* ==================================== */

h1,h2,h3,h4,h5,h6 { 
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue Condensed Bold","Helvetica Neue", Helvetica, Arial, sans-serif;
	font-stretch: condensed; /* pour Firefox */
	text-transform: uppercase;
	color: #000; }
	
#contenu h2 { font-size: 26px; line-height: 1em; margin-bottom: 1em; margin-top: 1.5em; }
#pied h2 { font-size: 18px; line-height: 1em; margin-bottom: .5em; }
	

/* ==================================== */
/* =Paragraphs, etc...=					*/
/* ==================================== */

.contenu-principal p { font-size: 13px; margin-bottom: 1.5em; }